[submodule "recorder/src/main/cpp/oboe"]
	path = recorder/src/main/cpp/oboe
	url = https://github.com/google/oboe.git
[submodule "recorder/src/main/cpp/libsndfile"]
	path = recorder/src/main/cpp/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "recorder/src/main/cpp/flac"]
	path = recorder/src/main/cpp/flac
	url = https://github.com/xiph/flac.git
